.services-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;



    .action{

        width: 33%;
        


        h2{
            font-size: 45px;
            
        }
    }
    
}