@mixin shrinkLabe {
    top: 4px;
    font-size: 15px;
    color: black;
  }
.form{

    width: 100%;
    margin: 4rem 0;
    h3{
        font-size: 46px;
        margin: 10px 0;
        color: #314584;
    }
    .group:nth-child(3){
        margin: 10px 0;

        .form-input{
            margin: 0px;    
            height: 100px;
        }
    }

    .name-email{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .group{
            width: 100%;
            display: block;
            position: relative;
            bottom: 0;
            height: 100%;
            margin: 0;
            
            &:nth-child(1){
                margin-right: 2%;
            }

            .form-input{
                &:focus ~ .form-input-label {
                    @include shrinkLabe();
                }
            }
            
            .form-input-label{
                top: 35px;
            
                &.shrink {
                    @include shrinkLabe();
                }
                
            }
        }
    }

    .button{
        display: block;
        margin: 30px auto;

    }
}

@media (max-width: 500px) {

    .name-email{
        flex-direction: column;

        .form-input{
            margin: 25px 0;
        }
    }

    .group:nth-child(3){
        margin: 25px 0!important;
    }
}