.portofolio-page{
    .buttons{
        display: none;
    }
    .web-container{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 0 10%;
    }
    .design{padding: 0 10%;}
}