
    .switch {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    .switch h1 {
        font-size: 45px;
        border-bottom: 5px solid rgba(254, 182, 22, 0.5);
        transition: 0.5s;
      }