.switch {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
	flex-wrap: wrap;
	margin-bottom: 3em;
}

 .switch button {
    
    background: white;
    color: #314584;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    transition: 1s ;
    border-bottom: 1px solid #314584;
    border: 1px solid #314584 !important;


}
    
.switch-active {
	border-bottom: 3px solid  black !important ;
    background-color: #314584 !important;
    color: white !important;
}
  

