.portofolio-container {
    width: 100%;
    color: #314584;
    display: flex;
    flex-direction: column;
    margin:15% 0;

    .shape{
        position: absolute;
        z-index: -1;
        left: 0;
        width: 100%;
        max-width: 678px;
        height: auto;
    }

    span {
        text-align: center;
        color: red;
        cursor: pointer;
        font-weight: 500;

    }
    
    .portofolio-text {

        h1 {
            font-weight: 600;
            margin: 0;
        }

    }

    
}



@media (max-width: 858px) {


    
}
