.about {
    display: flex;
    flex-direction: row;
    margin: 10% 0;
    width: 100%;
    .shape{
        position: absolute;
        z-index: -1;
        right: 0;
        width: 100%;
        max-width: 278px;
        height: auto;
    }



    .about-image {
        width: 48%;
        margin: 2%;

        .ab-img {
            width: 100%;
            height: auto

        }
    }

    .about-text {
        // border: 1px solid red;
        width: 48%;
        margin: 2%;

        // margin-left: 1%;

        span {
            color: red;
            font-size: .9em;
        }

        h1 {
            color: #314584;
            font-weight: 600;
        }

        p {
            font-size: .9em;
            line-height: 1.5em;
        }

    }
}



@media (max-width: 858px) {

    .about {
        flex-direction: column;
        text-align: center;

        .about-image {
            width: 100%;
        }
    
        .about-text {
            width: 100%;
            margin: auto;
            text-align: center;
        }
    }

    
}
