@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap');


*{
  text-decoration: none;
  box-sizing: border-box;
}
body{
  font-family:'Work Sans', sans-serif;;
}
.App{
  max-width: 1800px;
  margin: 0 auto;
}